.App > .login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content:center;
  background: rgb(216, 112, 147);
}

.App > .login > form{
  height: 50px;
  display: flex;
  align-items: center;
}

.App > .login > form > input{
  height: 40px;
  color: rgb(19, 19, 19);
  padding: 0 10px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
}

.App > .login > form > button{
  background: rgb(175, 89, 215);
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 60px;
  margin-left: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 250ms ease;
}
.App > .login > form > button:hover{
  background: rgb(141, 43, 187);
}